In [1]:
import pandas as pd
import numpy as np
import json
import random

In [2]:
DIR = './dataset/train/'

texts = {
    'text-id': [],
    'text': [],
    'num-authors': []
}

for i in range(1,11201, 1):
    filename = f'problem-{i}.txt'
    with open(DIR + filename, 'r', encoding='utf-8') as file:
        lines = file.readlines()
        lines = " ||| ".join(lines)

    json_filename = f'truth-problem-{i}.json'
    with open(DIR + json_filename
              , 'r', encoding='utf-8') as json_file:
        json_data = json.load(json_file)
        num_authors = max(json_data['paragraph-authors'])  # Get the maximum number of authors

    texts['text-id'].append(i)
    texts['text'].append(lines)
    texts['num-authors'].append(num_authors)

In [3]:
data = pd.DataFrame(texts)
data['text-length'] = data['text'].apply(lambda x: len(x))
data.head()

,text-id,text,num-authors,text-length
0,1,As stephelton said in the comments to your que...,3,2610
1,2,I would suspect the OS drive first or whatever...,2,1773
2,3,The answer lies in SPI - Stateful Packet Inspe...,3,1471
3,4,Indexing is incredibly resource intensive espe...,1,2553
4,5,"Do the split just once, what about someone sen...",2,1050

In [4]:
data['text-length'].describe()

count    11200.000000
mean      1770.805179
std        837.511632
min       1005.000000
25%       1221.000000
50%       1506.000000
75%       2029.000000
max       9601.000000
Name: text-length, dtype: float64

In [5]:
isolated_text = data.loc[(data['text-length'] >= data['text-length'].quantile(0.25)) & (data['text-length'] <= data['text-length'].quantile(0.4))]
isolated_text.shape

(1688, 4)

In [6]:
random.seed(39)
check_up_text = random.choice(isolated_text.loc[isolated_text['num-authors'] == 3, 'text-id'].tolist())
check_up_text

2591

In [7]:
chosen_id = []
for i in range(32):
    texts_id = random.choice(isolated_text['text-id'].tolist())
    chosen_id.append(texts_id)

for i in range(len(chosen_id)):
    print("Chosen text {: 2d}: {: 6d}".format(i+1, chosen_id[i]))

Chosen text  1:   3414
Chosen text  2:   5214
Chosen text  3:    424
Chosen text  4:   2605
Chosen text  5:   2885
Chosen text  6:   5385
Chosen text  7:   9989
Chosen text  8:   7757
Chosen text  9:     77
Chosen text  10:   8880
Chosen text  11:  10922
Chosen text  12:   3354
Chosen text  13:   9315
Chosen text  14:   4727
Chosen text  15:   9795
Chosen text  16:   2329
Chosen text  17:  11100
Chosen text  18:    432
Chosen text  19:   3923
Chosen text  20:   9291
Chosen text  21:   1031
Chosen text  22:   4856
Chosen text  23:    163
Chosen text  24:   1479
Chosen text  25:   5738
Chosen text  26:   4592
Chosen text  27:   5724
Chosen text  28:  10832
Chosen text  29:  10280
Chosen text  30:   1343
Chosen text  31:   5347
Chosen text  32:   7064