In [36]:
import pandas as pd
import numpy as np
import json
import random

In [37]:
DIR = './dataset/train/'

texts = {
    'text-id': [],
    'text': [],
    'num-authors': []
}

for i in range(1,11201, 1):
    filename = f'problem-{i}.txt'
    with open(DIR + filename, 'r', encoding='utf-8') as file:
        lines = file.readlines()
        lines = " ||| ".join(lines)

    json_filename = f'truth-problem-{i}.json'
    with open(DIR + json_filename
              , 'r', encoding='utf-8') as json_file:
        json_data = json.load(json_file)
        num_authors = max(json_data['paragraph-authors'])  # Get the maximum number of authors

    texts['text-id'].append(i)
    texts['text'].append(lines)
    texts['num-authors'].append(num_authors)

In [38]:
data = pd.DataFrame(texts)
data['text-length'] = data['text'].apply(lambda x: len(x))
data.head()

,text-id,text,num-authors,text-length
0,1,As stephelton said in the comments to your que...,3,2610
1,2,I would suspect the OS drive first or whatever...,2,1773
2,3,The answer lies in SPI - Stateful Packet Inspe...,3,1471
3,4,Indexing is incredibly resource intensive espe...,1,2553
4,5,"Do the split just once, what about someone sen...",2,1050

In [39]:
data['text-length'].describe()

count    11200.000000
mean      1770.805179
std        837.511632
min       1005.000000
25%       1221.000000
50%       1506.000000
75%       2029.000000
max       9601.000000
Name: text-length, dtype: float64

In [40]:
data['text-length'].quantile(0.25)

1221.0

In [41]:
isolated_text = data.loc[(data['text-length'] >= data['text-length'].quantile(0.25)) & (data['text-length'] <= data['text-length'].quantile(0.75))]
isolated_text.shape

(5606, 4)

In [44]:
isolated_text.loc[isolated_text['num-authors'] == 3, 'text-id']

2            3
5            6
20          21
29          30
47          48
         ...
11150    11151
11159    11160
11175    11176
11177    11178
11194    11195
Name: text-id, Length: 1471, dtype: int64

In [43]:
isolated_text['text-id']

1            2
2            3
5            6
6            7
7            8
         ...
11189    11190
11190    11191
11194    11195
11197    11198
11199    11200
Name: text-id, Length: 5606, dtype: int64