In [1]:
import ollama
import pandas as pd
import numpy as np
from tqdm import tqdm

In [10]:
# modelfile = '''
# FROM mistral:7b-instruct-q4_K_M

# PARAMETER temperature 0.5

# # set the system message
# SYSTEM """
# You are simulating work of a function. You can only response by generating one 0 or one 1. You will be prompted with two paragraphs that are divide by new line symbol. If the paragraphs are written by the same author you generate 0 and if the paragraphs are written by different authors you return 1. 
# """
# '''

# ollama.create(model='mistral-SCS', modelfile=modelfile)

In [2]:
paragraphs_df = pd.read_csv('../all_paragraphs.csv')

In [3]:
paragraphs_df.head()

,text-id,text,label,version
0,medium-17,"Due to the overreach on the initial layoffs, c...",1,3
1,medium-17,I used to be in Pharmacy. Then I did a researc...,0,3
2,medium-17,So if a medical center has any that are partia...,1,3
3,medium-17,Open vials are supposed to be discarded after ...,1,3
4,medium-17,It costs about 15-35 cents to make a mL of ins...,1,3

In [4]:
paragraphs_df['text'][0]

'Due to the overreach on the initial layoffs, current Twitter employees are in a pretty empowered position right now. Twitter is sinking and Elon removed the majority of the bilge pumps along with most people who know how to run the boat. He needs every hand on deck and can’t afford to fire people giving 80% and telling him to fuck off from his return to the office edict. Curious to see how many return.\r\nI used to be in Pharmacy. Then I did a research project about their markups, especially in the US I was appalled.'

In [6]:
ollama.generate(model='mistral-SCS', prompt=paragraphs_df['text'][0])['response']

'1'

In [7]:
responses = []

for t in tqdm(paragraphs_df['text']):
    response_iteration = []
    for _ in range(14):
        response = ollama.generate(model='mistral-SCS', prompt=t)['response']
        response_iteration.append(response)
    
    responses.append(response_iteration)

responses

  2%|▏         | 3/171 [17:40<21:18:33, 456.63s/it]

In [ ]:
for r in responses:
    for i in range(len(r)):
        if(r[i] == '0' or r[i] == '1'):
            r[i] = int(r[i])
        else:
            r[i] = -1

responses

In [ ]:
def contains_minus_one(array):
    contains = []
    for sub_array in array:
        if -1 in sub_array:
            contains.append(True)
        else:
            contains.append(False)
    return contains

mask = contains_minus_one(responses)
for i in range(len(mask)):
    if mask[i] == True:
        print(i)