In [1]:
import pandas as pd
import numpy as np
import ast
import re

In [2]:
dataframes = []
for i in range(1,9):
    dataframes.append(pd.read_csv(f'annotator_labels/ver_{i}.csv'))

In [3]:
dataframes[1]

      text-id                                    annotator_label
0  medium-492  [array([0, 0, 0, 0, 0, 0], dtype=int64), array...
1  medium-564  [array([0, 0, 0, 0, 0], dtype=int64), array([0...
2     hard-72  [array([0, 0, 0, 0, 0], dtype=int64), array([0...
3    hard-656  [array([0, 0, 0, 0], dtype=int64), array([1, 1...

In [4]:
def parse_array_string(s):
    # Use regex to find all occurrences of numbers inside array([...])
    array_strings = re.findall(r'array\(\[([0-9, ]+)\]', s)
    # Convert found strings to numpy arrays
    arrays = [np.fromstring(arr, sep=', ', dtype=int) for arr in array_strings]
    return arrays

for j in range(len(dataframes)):
    df = dataframes[j]
    for i in range(len(df)):
        s = df['annotator_label'][i]
        # Extract the numpy arrays from the string
        arrays = parse_array_string(s)

        # Convert to a numpy array of numpy arrays
        result = arrays
        df['annotator_label'][i] = result

In [5]:
dataframes[0]

      text-id                                    annotator_label
0  medium-534  [[1, 0, 1], [1, 1, 1], [1, 1, 1], [1, 0, 1], [...
1  medium-677  [[0, 1, 1, 1, 0], [1, 1, 1, 0, 0], [0, 1, 1, 0...
2     hard-51  [[0, 0, 1], [0, 1, 1], [1, 0, 1], [0, 0, 0], [...
3   medium-84  [[0, 0, 0, 0, 0, 0], [1, 0, 0, 1, 1, 1], [1, 0...