In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
paragraphs_gold = pd.read_csv('./all_paragraphs.csv') 
paragraphs_gold

,text-id,text,label,version
0,medium-17,"Due to the overreach on the initial layoffs, c...",1,3
1,medium-17,I used to be in Pharmacy. Then I did a researc...,0,3
2,medium-17,So if a medical center has any that are partia...,1,3
3,medium-17,Open vials are supposed to be discarded after ...,1,3
4,medium-17,It costs about 15-35 cents to make a mL of ins...,1,3
...,...,...,...,...
166,hard-252,We don’t make more money today as land develop...,0,-1
167,hard-252,"Blame red tape, environmental “protection”, an...",1,-1
168,hard-252,If you want the government to intervene to mak...,1,-1
169,hard-252,Most politicians in my province (and probably ...,0,-1
170,hard-252,The incentive is to court middle-class home ow...,0,-1

In [3]:
dataframes = []
for i in range(1,9):
    dataframes.append(pd.read_csv(f'./paragraphs_labels/ver_{i}.csv'))

def parse_array_string(s):
    # Use regex to find all occurrences of numbers inside array([...])
    array_strings = re.findall(r'\[([0-9, ]+)\]', s)
    # Convert found strings to numpy arrays
    arrays = [np.fromstring(arr, sep=', ', dtype=int) for arr in array_strings]
    return arrays

for j in range(len(dataframes)):
    df = dataframes[j]
    for i in range(len(df)):
        s = df['annotator_paragraph'][i]
        # Extract the numpy arrays from the string
        arrays = parse_array_string(s)

        # Convert to a numpy array of numpy arrays
        result = arrays
        df['annotator_paragraph'][i] = result

In [4]:
dataframes[0]

      text-id                                annotator_paragraph
0  medium-534  [[1, 1, 1, 1, 1, 0, 1, 1, 0, 1], [0, 1, 1, 0, ...
1  medium-677  [[0, 1, 0, 0, 0, 0, 1, 0, 1, 1], [1, 1, 1, 1, ...
2     hard-51  [[0, 0, 1, 0, 0, 0, 1, 1, 0, 1], [0, 1, 0, 0, ...
3   medium-84  [[0, 1, 1, 0, 1, 1, 1, 0, 0, 0], [0, 0, 0, 1, ...

In [ ]:
paragraph_dict

In [6]:
merged_df.loc[merged_df['text-id'] == 'medium-534']

,text-id,text,label,version,annotator_paragraph
57,medium-534,Likely illegal. The City of Seattle now runs a...,1,1,"[[1, 1, 1, 1, 1, 0, 1, 1, 0, 1], [0, 1, 1, 0, ..."
58,medium-534,Did the landlord put that in writing? It is ve...,1,1,"[[1, 1, 1, 1, 1, 0, 1, 1, 0, 1], [0, 1, 1, 0, ..."
59,medium-534,"If illegal, you may need a local real estate l...",1,1,"[[1, 1, 1, 1, 1, 0, 1, 1, 0, 1], [0, 1, 1, 0, ..."

In [5]:
df1 = dataframes[0]
df2 = paragraphs_gold

# Create a dictionary to map text-id to paragraphs
paragraph_dict = df1.groupby('text-id')['annotator_paragraph'].apply(list)
paragraph_dict
# Initialize an empty list to store the merged rows
merged_rows = []

# Iterate over df2 to match each row with the corresponding paragraph
for index, row in df2.iterrows():
    text_id = row['text-id']
    paragraphs = paragraph_dict.get(text_id, [])
    
    # Find the index of the current text in df2 and use it to get the corresponding paragraph
    if paragraphs:
        paragraph = paragraphs[index % len(paragraphs)]
        print(index, len(paragraphs))
        row['annotator_paragraph'] = paragraph
    
    merged_rows.append(row)

# Create a new DataFrame from the merged rows
merged_df = pd.DataFrame(merged_rows)

14 1
15 1
16 1
17 1
18 1
19 1
57 1
58 1
59 1
68 1
69 1
70 1
71 1
72 1
93 1
94 1
95 1

In [ ]:
paragraphs_gold.loc[paragraphs_gold['text-id'] == 'medium-534']

In [ ]:
paragraphs_gold.loc[paragraphs_gold['text-id'] == 'medium-534']

In [ ]:
def merge_gold_annotator(gold_df, ver_df):
    for text in ver_df['text-id']:
        print(text)


merge_gold_annotator(paragraphs_gold, dataframes[0])